<div class="crm-block">

  <h3 class="widget-header" ng-if="action.configuration_spec.length">{{ts('Configuration')}}</h3>
    <ng-repeat ng-repeat="spec in action.configuration_spec">
        <crm-ap-configuration-field spec="spec" configuration="configuration"></crm-ap-configuration-field>
    </ng-repeat>

    <div class="crm-block" ng-form="input_mapper" ng-if="fields">
        <h3 class="widget-header">{{ts('Parameter Mapping')}}</h3>
        <ng-repeat ng-repeat="spec in action.parameter_spec">
            <crm-ap-parameter-field ng-if="spec.type != 'group'" spec="spec" fields="fields" mapping="mapping"></crm-ap-parameter-field>

            <div class="crm-accordion-wrapper collapsed" ng-if="spec.type == 'group'">
                <div class="crm-accordion-header">{{spec.title}}</div>
                <div class="crm-accordion-body">
                    <ng-repeat ng-repeat="subSpec in spec.specification_bag">
                        <crm-ap-parameter-field ng-if="subSpec.type != 'group'" spec="subSpec" fields="fields" mapping="mapping"></crm-ap-parameter-field>
                    </ng-repeat>
                </div>
            </div>
        </ng-repeat>
    </div>

</div>
